@charaset "utf-8";
/* Copyright 2015 dodat */
/*---------------------------------------------------------------------------*
 * for Pronto 共通
 *---------------------------------------------------------------------------*/
/*---------- layout (\PR\LayoutAdapter) ----------*/
#lay_header{
}
#lay_left{
}
#lay_center{
}
#lay_right{
}
#lay_footer{
}

/*---------- message (\PR\Message) ----------*/
.prSt_msg_error{
	margin: 10px 0;
	padding: 30px;
	text-align: center;
	color: red;
	background-color: #e6e6fa;
	font-weight: bold;
	border-top: 1px red solid;
	border-bottom: 1px red solid;
}
.prSt_msg_warning{
	margin: 10px 0;
	padding: 30px;
	text-align: center;
	color: yellow;
	background-color: #e6e6fa;
	font-weight: bold;
	border-top: 1px red solid;
	border-bottom: 1px red solid;
}
.prSt_msg_normal{
	margin: 10px 0;
	padding: 30px;
	text-align: center;
	color: blue;
	background-color: #e6e6fa;
	font-weight: bold;
	border-top: 1px red solid;
	border-bottom: 1px red solid;
}

/*---------- pager (\PR\Pager) ----------*/
.prSt_paging{
	height: 25px;
	margin: 20px 0;
	padding: 0 5px;
	font-size: 16px;
	line-height: 25px;
}
.prSt_page{
	position: relative;
	margin: 5px 0;
	border-radius: 0;
}
.prSt_page .prSt_pageHead{
	float: left;
	font-size: 14px; /***** small:16px */
	line-height: 25px;
	background-color: ghostwhite;
}
.prSt_page .pagination{
	margin: 0;
}
.prSt_sort{
	margin-left: 5px;
	font-size: 10px;
}

/*---------- indicator (PRIndicator) ----------*/
.prSt_maskAll{
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
	opacity: 0.0;
	filter: alpha(opacity=0);
	z-index: 0;
}
.prSt_indicator{
	display: none;
	position: absolute;
	/*width: 350px;*/
	/*height: 50px;*/
	text-align: left;
	font-size: 24px;
	/*font-weight: bold;*/
	color: gray;
}

/*---------- fader ----------*/
.dfade{
	opacity: 0.2;
	filter: alpha(opacity=20);
	cursor: default !important;
}
.dfade2{
	color: gray;
	cursor: default !important;
}
a.dfade:hover{
	color: gray;
	text-decoration: none;
}
a.dfade2:hover{
	color: gray;
	text-decoration: none;
}

/*---------------------------------------------------------------------------*
 * misc classes
 *---------------------------------------------------------------------------*/
li.sub{
	margin-left: 10px;
}

span.left{
	margin-left: 10px;
}

.numBold{
	font-size: 15px;
	font-weight: bold;
}

.spacer{
	height: 10px;
}
.spacer10{
	height: 10px;
}
.spacer20{
	height: 20px;
}

.date{
	font-size: 12px;
	font-weight: normal;
}

.noitem{
	height:100px !important;
	font-size:13px;
	line-height:100px !important;
	color: silver;
	text-align: center !important;
	vertical-align: middle;
}

.noimage{
	height: 100px;
	line-height: 100px;
	font-weight: bold;
	text-align: center;
	color: lightgray;
	background-color: white;
}

.halfchar{
	ime-mode: disabled;
}

.expl{
	padding-left: 5px;
	color: gray;
	font-size: 11px;
}

.warn{
	color: red;
	font-size: 12px;
}

.errform{
	border-color: #B94A48;
}

.titlebar{
	margin-bottom: 10px;
	padding: 3px 5px 0;
	font-size: 14px;
	line-height: 20px;
	/*font-weight: bold;*/
	/*color: white;*/
	/*background-color: #778899;*/
	color: black;
	background-color: aliceblue;
}
.titlebarG{
	margin-bottom: 10px;
	padding: 3px 5px 0;
	font-size: 14px;
	line-height: 20px;
	/*font-weight: bold;*/
	color: white;
	background-color: #778899;
}

/* tooltip */
.cp_tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
	/*background: linear-gradient(transparent 60%, #f19ec2 60%);*/
	background: linear-gradient(transparent 60%, black 60%);
}
.cp_tooltip .cp_tooltiptext {
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 0;
	visibility: hidden;
	width: auto;
	white-space: nowrap;
	padding: 0.3em 0.5em;
	transition: opacity 1s;
	text-align: center;
	opacity: 0;
	color: #ffffff;
	border-radius: 6px;
	background-color: black;
}
.cp_tooltip .cp_tooltiptext::after{
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	content: ' ';
	border: 5px solid transparent;
	border-top-color: black;
}
.cp_tooltip:hover .cp_tooltiptext{
	visibility: visible;
	opacity: 0.5;
}

/* font-style */
.fontG{
	font-family: "游ゴシック","Yu Gothic","游ゴシック体","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
.fontM{
	font-family: "メイリオ","游明朝","Yu Mincho","游明朝体","YuMincho","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","HiraMinProN-W3","HGS明朝E","ＭＳ Ｐ明朝","MS PMincho",serif;
}
.fontE{
	font-family: Tahoma,Verdana,Courier,Century,Arial,sans-serif;
}

body{
	font-size: 14px;
	color: #333333;
	background-color: #EBE9E9;
	font-family: "open sans","メイリオ",Meiryo,"Helvetica Neue",Helvetica,Arial,sans-serif;
	word-break: break-all;
}
